* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
    background: #e5eaff;
}

#band {
    width: 100%;
    padding: 6%;
    background-image: url("/img/gears.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#band h1 {
    padding: 1rem;
    background: #e5eaff;
    text-align: center;
}

main {
    display: flex;
}

section {
    flex-grow: 1;
    background-image: url("/img/gears.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section >  div {
    width: 90%;
    background: #e5eaff;
}

#home {
    width: 97%;
}

h2 {
    font-size: 1.5rem;
}

article {
    margin: 0 1rem;
}

.card-header {
    background-color: #9ec5fe;
}

.picture {

}
